<% layout('layouts/boilerplate') %>
    <h1 class="text-center mb-4">New Spot</h1>
    <div class="row">

        <div class="col-6 offset-3">
            <form action="/spots" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="spot[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="spot[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="spot[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->

                <div class="mb-3">
                    <label class="form-label" for="price">Spot Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">₫</span>
                        <input type="text" class="form-control" id="price" placeholder="00.000" aria-label="price"
                            aria-describedby="price-label" name="spot[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>



                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="spot[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name="image" multiple>
                        <label class="custom-file-label form-file-text" for="image">Choose image(s)</label>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Spot</button>
                </div>

            </form>
            <a href="/spots">All Spots</a>
        </div>
    </div>